[2014-01-23 02:38] mapsam opened #1 "Best way to structure this repo"
I'm not entirely sure what the best way to set up a wordpress repo is. @darrell you had it originally set up to include everything from the root of the core wordpress files, but that seemed a bit too deep.

Currently this is just the theme, but I can see including the `../plugins` directory would be a good idea if we decide to hook into your server for pushing updates live. Would remove a step for

[2014-01-23 04:39] geografa commented on #1
depends if you want people updating core wordpress or not, seems. I don't know much about git submodules but we did something like that at the last Drupal shop I worked at. We never touched the core as that was updated periodically from WP. Are you going to setup a db and image dir we can use for test data? That might be something to consider as well.

[2014-01-23 18:08] darrell commented on #1
Yah, I'd say the plugins and the theme files would be sufficient – no need to include the whole wordpress stack. The idea is that in case of disaster you have everything needed to re-build the site without necessarily falling on your backups – and wordpress itself is easily re-installed.

git submodules only work if the thing you want it is in git somewhere, and I doubt that's true of all the word

[2014-01-24 07:57] mapsam commented on #1
Test data would be a good idea, but for now I think we're good with the plugins and theme. I'm including the /uploads/ folder as well since it's only a few images but could be helpful if people need anything for testing. We may not necessarily want it to be part of the script that looks for changes, though. So ... let me know if I should just remove it.

Also would people be interested in the /src

[2014-01-24 23:47] darrell opened #2 "contact form broken"
Looks like the contact slider broke at some point… FYI

[2014-01-25 18:32] mapsam commented on #2
Good to go! The footer was calling for a form number that only existed on my local machine. Now it's grabbing the contact form number 2. Just exported the form on my side and imported on the remote.

[2014-01-25 18:32] #2 closed, assigned to mapsam

[2014-01-26 20:04] #1 closed, assigned to nobody

[2014-01-26 20:06] darrell opened #3 "contact form messes up links"
See: http://foss4g.renewfund.com/sponsorships/

When the contact form is closed, any text (and links) that overlap the contacts form div as it would be when opened are inaccessible.

Try clinking the links with the window resized so that the open contact form does/does not overlap the links to see what I'm getting at.

[2014-01-26 22:14] mapsam commented on #3
I noticed this recently - something I'm trying to figure out on my end. Also ... seems like all of our <head> links are broken right now since no CSS styles are coming in

[2014-01-26 22:17] mapsam commented on #3
Ah, looks like you're in the middle of changing the domain ;)

[code]

[2014-01-26 22:28] darrell commented on #3
Yes, sorry. I'm waiting for the DNS change to go through. Usually they're very fast about that sort of thing, but I wanted to be prepared.

Assuming you're on a mac, from a terminal you can do 'sudo nano /etc/hosts' and add a line:
216.151.2.221   2014.foss4g.org

that will make it all work until the DNS gets updated.

[2014-01-26 22:42] darrell commented on #3
alternatively, feel free to change it back in the config. The old URL should work fine indefinitely.

[2014-01-27 16:35] mapsam opened #4 "Coordinate user roles and user "posts" for submissions and workshops"
Going to allow people to "guest post" when signed in - these posts will be categorized under specific types (i.e. talks, workshops) and presumably only viewable by admin since there will not be a template filtering for these post categories.

Also - Wordpress needs a new word for "posts" ... maybe "item" would be more inclusive of what posts are used for.

[2014-01-27 16:36] mapsam opened #5 "Sponsor post type"
Create post type for "sponsors" so we can use "featured images" and push all over the website. We could even subcategorize these to show specific level sponsors in different places.

[2014-01-27 16:37] mapsam opened #6 "Style sidebar"
Or completely remove the sidebar because sidebars stink! But, style it for now.

[2014-01-27 17:32] mapsam commented on #5
Along with this - style the sponsor bar on the main page to be a set height (or use set height images) - so the block element doesn't change for every carousel switch.

Another thought - do we want to remove color from all of the images so there isn't a huge cluster of color on the page?

[2014-01-27 17:53] mapsam commented on #3
Alright, the footer 'contact' form now has a smaller set height when it's close and changes on click so it doesn't block text that the original container is overlapping.

Darn relative positions!

[2014-01-27 17:53] #3 closed, assigned to mapsam

[2014-01-27 18:02] darrell commented on #5
Yah, I noticed the jumping height thing. Probably setting it to be fixed height is a good idea.

I'm not sure we'd be allowed to modify the sponsor logos, but I guess we could try it and see if anyone complains. ;)

[2014-01-27 18:03] darrell commented on #6
You beat me to this suggestion. ;)

[2014-01-27 18:29] darrell commented on #3
Surely you've seen: https://www.dropbox.com/s/ern1z6ctejxo7ds/CSS.gif

[2014-01-28 16:36] mapsam commented on #6
Temporarily styled upon the public announcement :) Will probably change in a bit but want to work on some graphics for the homepage and headers now.

[2014-01-30 17:02] mapsam commented on #5
Created a custom post type "sponsors" to keep the admin side of things straightforward. Also specified a new taxonomy class "levels" so they are separate from other categories in posts.

Want to ensure we can put an "order" to these taxonomies (i.e. platinum, gold, silver, etc.) but tough since they are no alphabetical or numeric. Thinking we may be able to sort by their ID as long as they are cre

[2014-02-02 20:56] tchaddad opened #8 "Add space for more explicit location info on front page (per feedback)"
Probably the best space is in the "Conference Date Information" block, just underneath "Main Conference".

Suggest something like:

Location: Portland, Oregon, U.S.A
or
Join Us: Portland, Oregon, U.S.A.

[2014-02-02 21:44] darrell commented on #8
Resolved in 5459a6ec72 and 7e328f4c8, but the styling could probably be better.

[2014-02-02 21:44] #8 closed, assigned to nobody

[2014-02-04 16:41] darrell opened #9 "2 keywords fields on submission page"
https://2014.foss4g.org/submit-presentation/

"Keywords" is entered twice, and I can't find the right page to edit the form. :(

[2014-02-04 16:56] darrell commented on #4
Looking good!

[2014-02-10 16:41] darrell commented on #9
resolved in 8fc73648

[2014-02-10 16:41] #9 closed, assigned to nobody

[2014-02-10 16:42] darrell opened #10 "redirect to somewhere useful on login or registration"
When creating an account, or logging in, is it possible to redirect users to some other page than the front page, so they can go right to submitting papers?

[2014-02-10 18:34] mapsam commented on #10
Yup! You can set redirects in the "theme my login" settings in the wp-admin page. Since every user is a "subscriber" you only have to worry about that user-type redirect. Go to TML > Redirection > and scroll to the bottom you'll see the space to change the redirect URL.

![screen shot 2014-02-10 at 10 34 28 am](https://f.cloud.github.com/assets/1943001/2128998/021c6fdc-9282-11e3-954d-88bafaea826d.

[2014-02-11 05:02] elil commented on #10
For login I changed it to referrer to let them continue on.  Does that seem correct?  Should work for the arrive at submission page --> login --> back to submission page.  This would not work for arrive at submission page --> register for account ---> login --> back to register for account?

[2014-02-12 18:20] mapsam opened #12 "style excerpt in wp-includes"
`the_excerpt();` is stripping content of `<em>`, `<br>`, and `<p>` tags, which makes the front-page content look all stupid if it's not formatted perfectly.

Going to work with [this](http://aaronrussell.co.uk/legacy/improving-wordpress-the_excerpt/) helper post.

[2014-02-13 19:18] darrell commented on #10
works for me.

[2014-02-13 19:18] #10 closed, assigned to mapsam

[2014-02-15 23:18] mapsam commented on #6
Alright, I'm calling this one with all the new styles today.

[2014-02-15 23:18] #6 closed, assigned to mapsam

[2014-02-17 18:51] mapsam opened #13 "pages need a bit more padding on top!"
doh! A little bit of overlap ... once again fooled by the wordpress admin bar setting a height to the website!

Normal:
![screen shot 2014-02-17 at 10 49 58 am](https://f.cloud.github.com/assets/1943001/2188361/68a10772-9804-11e3-8acc-8664469cf562.png)

vs. Logged-in:
![screen shot 2014-02-17 at 10 50 24 am](https://f.cloud.github.com/assets/1943001/2188363/6e0c4596-9804-11e3-9a36-fc70c1109659.png

[2014-02-17 18:52] mapsam opened #14 "nav bar logo"
what logo do we want on the nav bar? I'm not a total fan of the current "compressed" version of the logo? Maybe we could just do the bird, or the foss ribbon?

[2014-02-17 18:56] darrell commented on #14
I kind of like the bird.

d.

On Feb 17, 2014, at 10:52, Sam Matthews notifications@github.com wrote:

[2014-02-17 19:33] mapsam commented on #14
MOAR BIRD

[2014-02-17 19:47] mattsayler commented on #14
I hear the bird is the word.
I kind of like the bird.

d.

On Feb 17, 2014, at 10:52, Sam Matthews notifications@github.com wrote:

—
Reply to this email directly or view it on
GitHubhttps://github.com/pdxosgeo/foss4g2014-wordpress/issues/14#issuecomment-35312561
.

[2014-02-18 06:19] #13 closed, assigned to nobody

[2014-02-19 15:55] darrell commented on #5
I'm not sure how flexible Wordpress is in doing custom queries, but I was thinking we could weight by sponsorship level and multiply that by rand(). That gives more prominence to bigger sponsors.

So, like:

[code]

[2014-02-19 16:33] mapsam commented on #5
Oh, great idea! Ya I figured we would change up how they are populated once we start getting more levels fleshed out. It's surprisingly difficult to add an "order" to taxonomy terms that are inherently qualitative. I'm thinking Platinum sponsors should probably show up every time, outside of that random loop - what do you say?

[2014-02-19 16:53] darrell commented on #5
Yah, always featuring platinum sponsors is a good idea.

[2014-02-20 01:10] darrell opened #15 "contact form mysteriously appearing"
Not sure why the contact form is on the bottom of this page: https://2014.foss4g.org/sponsor-foss4g/call-for-sponsors/

I can't see where it's coming from... kinda confused...

[2014-02-20 01:20] mapsam commented on #15
Ha, nice. I've totally seen that form and didn't read it enough to realize it was the same one. Forms can be populated in a couple ways (typical wordpress) - one of which is by appending a form on the end of a post/page with the meta box that comes with the plugin (see screenshot). I removed the contact form!

![screen shot 2014-02-19 at 5 11 44 pm](https://f.cloud.github.com/assets/1943001/221423

[2014-02-20 01:20] #15 closed, assigned to mapsam

[2014-02-20 01:34] #14 closed, assigned to nobody

[2014-02-20 01:47] #12 closed, assigned to mapsam

[2014-02-20 01:53] mapsam commented on #4
I'm going to close this one - doesn't seem like we've been running into an issue at all with the Wordpress User Frontend, eh? Woot!

[2014-02-20 01:53] #4 closed, assigned to mapsam

[2014-02-25 03:03] mapsam opened #16 "CAPTCHA"
We need some CAPTCHA!

[2014-02-25 03:04] mapsam opened #17 "Featured Speakers"
Include taxonomies for opening/closing keynote, etc...

[2014-02-25 03:04] mapsam opened #18 "Create widget areas"
Specify widget areas so we can have different sidebars on different page types.

[2014-02-25 03:05] mapsam commented on #18
Some specific pages that may have different areas:
- Homepage
- Single posts
- Blog page
- Single pages
- Sponsor pages

[2014-02-25 03:05] mapsam opened #19 "Create sponsor widgets"
Let's create a sponsor widget for each sponsor class, allowing us to put specific level sponsors on different sidebars.

[2014-02-25 03:09] mapsam opened #20 "hide WP user frontend pro from repo"
Because it ain't free!

[2014-02-25 03:14] mapsam commented on #20
Wait a second, since we've already staged in master, will we have to `git rm /../..` ? How will that affect the live version @darrell ?

[2014-02-25 03:53] darrell commented on #20
I think it's ok for the source to be there as it has to have a license key
to work.

If you remove it, it will vanish from the production server, so we don't
want to push that.

d.

Am Feb 24, 2014 um 19:14 schrieb Sam Matthews notifications@github.com:

Wait a second, since we've already staged in master, will we have to git rm
/../.. ? How will that affect the live version
@darrellhttps://github

[2014-02-25 04:13] darrell commented on #20
If we want to be anal, we can make sure it’s installed some other way.

On Feb 24, 2014, at 7:53 PM, Darrell Fuhriman darrell@renewfund.com wrote:

[2014-02-25 06:36] mapsam commented on #20
Ah, good call. Well let's just leave it as is then!

[2014-02-25 06:36] #20 closed, assigned to mapsam

[2014-02-27 21:27] #5 closed, assigned to mapsam

[2014-03-05 01:33] elil opened #21 "Get our website posts aggregated on http://planet.osgeo.org/"
Planet OSGeo would be a great place to have our posts show up.  Directions are here, http://wiki.osgeo.org/wiki/PlanetOSGeo

I think that it is a good idea to not break the planet formatting and to not repeatedly flood it with old posts.  I've seen these occasionally happen.

While we are on planet, we should get this updated,
"Join us for the FOSS4G 2013 conference, in Nottingham, UK."

[2014-03-08 00:06] darrell commented on #21
Yes, do it.

Feed is https://2014.foss4g.org/feed/

[2014-03-08 15:54] mapsam commented on #21
Hm, seems we've got an XML parsing error. This is likely due to blank space in any of the functions.php files - I'll do some cleaning!

![screen shot 2014-03-08 at 7 53 49 am](https://f.cloud.github.com/assets/1943001/2365730/ea76dcc0-a6d9-11e3-908e-c49b327b5c0d.png)

[2014-03-10 16:47] mapsam commented on #17
These have been created in SHA: d08063f078bd32d955ea98ba2aaa2fe73d3a2968

[2014-03-10 16:47] #17 closed, assigned to mapsam

[2014-03-26 18:27] darrell opened #22 "Post titles are disappearing"
Looks like the CSS changed and now our titles are wonky:
![https___2014_foss4g_org__p_508_preview_true](https://f.cloud.github.com/assets/11126/2528884/552edd0e-b514-11e3-847f-d490c91b0e92.jpg)

[2014-03-26 18:31] mapsam commented on #22
doh! This is totally my fault for not finishing my attempt to structure the pages a little more. Will add a temporary fix and plan on pushing through a few more content styles in the next couple days. Sorry!

[2014-03-26 18:34] #22 closed, assigned to nobody

[2014-03-31 15:07] darrell opened #23 "links done broke"
Links in pages or posts seem to have stopped working. They're highlighted, but actually clicking on them does nothing. Inspect element shows a link being there, but... side bar and navigation works fine, it's only links embedded in a post/page's content that are failing.

[2014-03-31 15:49] mapsam commented on #23
I bet this is due to some z-index that I set so I could make that sidebar merge into the content space nicely - I'll do some tweaking!

[2014-03-31 16:18] #23 closed, assigned to nobody

[2014-04-02 16:59] darrell opened #24 "Allow multiple instructors on workshops"
Some workshops are actually being taught by more than one person, so it would be nice if we could show them in the same way as we show the other instructors.

I'm thinking of adding field(s) to the workshop form that allows the author to enter other usernames, and then pull the name for them and display it like we do the current main instructor.

[2014-04-02 17:05] darrell opened #25 "workshop instructor bios"
The current instructor bio popover uses hover. We should either switch it to click (and give some indication that it's clickable) or, preferably, have logic that checks for touch devices and uses click on those, hover on others.

[2014-04-05 05:53] darrell opened #26 "keywords vanish"
Keywords seem to either not be being saved on sessions/workshops, or are not being displayed properly.

[2014-04-07 02:26] darrell commented on #21
The feed validates at: http://validator.w3.org/feed/check.cgi?url=https%3A%2F%2F2014.foss4g.org%2Ffeed%2F

@elil Do you want to try it again on the planet feed?

[2014-04-07 02:27] darrell commented on #19
I don't think we need this anymore. I think we have a pretty good method.

[2014-04-07 02:27] #19 closed, assigned to mapsam

[2014-04-07 02:54] #25 closed, assigned to nobody

[2014-04-10 20:07] elil commented on #21
We are on, https://trac.osgeo.org/osgeo/changeset/11390 will check after next post

[2014-04-10 20:07] #21 closed, assigned to nobody

[2014-04-13 14:53] darrell commented on #26
OK, I just ditched the tags field, and created a new keywords field for it, and it seems to work now.

[2014-04-13 14:53] #26 closed, assigned to nobody

[2014-04-19 20:12] elil opened #27 "Make it easier to access older blog post archives"
Right now it is difficult to access older blog post archives.  The recent posts lists the most recent five but older ones are impossible to find other than search (for instance, try to find the logo unveil post).

[2014-04-19 20:52] mapsam opened #28 "add more POIs to map via foss4g2014-tourguide repo"
The homepage map can now take on multiple POIs for people to add to the map via the `geojson` variable in the `main.js` file. Need to add a few more style as we get a more diverse set of points, but that can come once we actually have them.

[2014-04-21 02:59] darrell opened #29 "Photo suggestion"
My wife had the good idea that we can display a random photo, but if someone clicks on a POI on the map, the photo could switch to a photo of that place.

I kinda like the idea. Opinions?

[2014-04-21 19:36] mapsam commented on #28
Could we add restaurants and/or watering holes? Or is that getting too particular and subjective?

[2014-04-21 19:38] darrell commented on #28
There’s a group that’s starting to write up that stuff. See the foss4g2014-tourguide repo.

Let’s wait for them to be ready, and then we can put that map on the appropriate page. Sound good?

On Apr 21, 2014, at 12:36, Sam Matthews notifications@github.com wrote:

[2014-04-21 19:39] mapsam commented on #28
Sounds perfect!

[2014-04-21 22:42] mapsam opened #30 "Put together "contribution how-to" for forking/pulling?"
This would require some "sample" data and a pretty rigorous installation process - but worthwhile to add in case people want to help out?

[2014-05-28 00:29] mapsam commented on #27
I'm going to make a standard `archive.php` page here that will allow us to have the "monthly" archives. Additionally I think I'll just get the `blog.php` page looping through all of the posts to list them out and that can have date-based organization as well.

[2014-05-28 00:33] mapsam commented on #27
Since we'll be having new author pages, do we want an author template as well?

[2014-05-28 01:16] elil commented on #27
Archives and author templates would rock!

On Tuesday, May 27, 2014, Sam Matthews notifications@github.com wrote:

[2014-05-30 07:18] mapsam commented on #27
archives ([example for may posts](https://2014.foss4g.org/2014/05/)) are there and author pages exist, but could use some love if we plan on using author descriptions and other built-in links.

[2014-05-30 07:20] mapsam commented on #27
Also added [news](https://2014.foss4g.org/news/) page if you want to link it anywhere

[2014-05-30 07:22] mapsam opened #31 "admin author name changed or attributed to another author"
Since we now have author pages and links, we'll want to update the name for the `admin` profile since posts by the admin user show up as such. Doesn't look so awesome. They can also be attributed to someone else's profile.

[2014-05-30 18:39] mapsam commented on #31
I just changed the public display name for admin to FOSS4G. Can be changed in the user settings on the WP Admin side.

[2014-05-30 18:39] #31 closed, assigned to nobody

[2014-06-04 23:59] darrell commented on #24
resolved in 656b84e63e1b0d9b74a0886af6810cb19edd9fbc.

[2014-06-04 23:59] #24 closed, assigned to nobody

[2014-06-16 00:11] tchaddad opened #32 "Need to add a form for Map Gallery submissions."
We're working on the "Call for Maps" here:
https://docs.google.com/document/d/1i1uocjo-JSUjgtAFyWFiJcVXn46_5xtQ7uPwQlHtFu4/edit

As part of that we will need a web form for Map Gallery submissions. Info to be collected via the form includes:
- Name
- Organization
- Additional map authors
- Text Box for Statement on the map design and production process
- Competition category (select 1 of 4 choices

[2014-06-19 02:14] mapsam commented on #32
Alright, not too tough! Added some form plugin and built a test page. Things we'll need to know:
- anyone want the submission responses sent to them?
- the fields need to be fleshed out, and can be edited in the backed if you go to forms > map gallery > field settings
- what's the form type for "statement of original work?" - _textarea_?

Test page located at (https://2014.foss4g.org/gallery-submi

[2014-06-19 05:47] tchaddad commented on #32
Sweet! - just made some changes trying to learn whats possible & flesh things out a bit.
- we should probably have an alias that gets the map submissions. I can be one of the recipients, but we will have others as well, need to work that out...
- the statement of original work is just something we want people to agree to (Nottingham had a disputed map). I've put in some placeholder text ahead of a

[2014-06-19 14:07] darrell commented on #32
We already have the WPUF plugin that we're using for all the other forms,
shouldn't we just keep using that?

On Jun 18, 2014, at 19:14, Sam Matthews notifications@github.com wrote:

Alright, not too tough! Added some form plugin and built a test page.
Things we'll need to know:
- anyone want the submission responses sent to them?
- the fields need to be fleshed out, and can be edited in the backe

[2014-06-19 15:24] mapsam commented on #32
Probably - but sometimes the guy who set up the site forgets things :)

I'll recreate the form in WPUF and will remove ninja forms - thanks for taking a look @tchaddad !

[2014-06-24 16:30] tchaddad commented on #32
Just checking in on this to see if the switch has been made? We'd like to get a press release out this week, and so the form should be in place when that goes out...

[2014-06-24 19:17] mapsam commented on #32
@darrell do we need to add a new custom post type just to make a form?

[2014-06-24 19:19] twelch commented on #32
Thanks for pushing this Tanya, a few suggestions after reviewing the form:
- Optional creative commons licenses for static maps?  Makes it more likely
  others will make use of the work.  The 'you can't use these maps for
  anything' message in the Nottingham gallery is a little off-putting.  I'm
  sure many wouldn't mind doing say a CC attribution no-deritatives license
  so other people can safe

[2014-06-24 19:22] darrell commented on #32
I don’t think so, though it probably makes them more easy to access.

d.

On Jun 24, 2014, at 12:17, Sam Matthews notifications@github.com wrote:

[2014-06-24 19:59] mapsam commented on #32
Just to clarify - are we making this form available for only logged in users or should this be public, sans login?

[2014-06-24 20:15] tchaddad commented on #32
Open to Community submissions, so public, sans login.

Tim - thanks for the suggestions, as soon as the form is moved over, I'll work on adding some of the items you mention.

[2014-06-24 20:19] darrell commented on #32
So, we’ve generally done this where we require people to get a login, ala the presentations submissions, so we know how to contact them.

Are we sure we want something different?

d.

On Jun 24, 2014, at 13:15, TC Haddad notifications@github.com wrote:

[2014-06-24 20:23] tchaddad commented on #32
Nope - I was just assuming you don't want barriers. No problem from me if you want to stick with the current pattern.

[2014-06-24 20:37] mapsam commented on #32
If we don't need users, I'm going to recommend keeping the current ninja form then, since that compiles entries and we will have the required email field. Since there aren't any file uploads and there isn't a need to have the data accessible via wordpress queries (custom posts) this solution should stand strong.

[2014-06-25 06:34] tchaddad commented on #32
Made some updates based on Tim's suggestions. Can't figure out how to remove the default text at the top of the form, so pointers there would be great.

[2014-06-25 16:20] mapsam commented on #32
Are you talking about the "Content Here" text? That's just content in the page, unrelated to the form. I removed that and removed the default "fields with \* are required" so it's not duplicated with your text. How does the page look now?

[2014-06-25 23:34] tchaddad commented on #32
Yes, thanks - that was it. I was looking in the wrong place. I'm going to add one more thing and then this will be good to go out (looks like early in the AM for the mailchimp blast).

[2014-06-25 23:35] mapsam commented on #32
great! Would be good to associate the submissions page with other pages to fill in that sidebar on the left too. Who designed this thing?!

[2014-07-08 15:11] darrell opened #33 "Printable version"
Is it worth creating a printable version of program?

[2014-07-08 22:39] mapsam commented on #33
Is there going to be one handed out at the conference?

[2014-07-08 22:44] darrell commented on #33
Yes, but I had someone ask about it, and it kind of does make sense for those who like to plan ahead, though it’s not a _huge_ priority.

d.

On Jul 8, 2014, at 15:39, Sam Matthews notifications@github.com wrote:

[2014-08-04 14:24] elil commented on #28
I'm not sure of the progress on this, but here are restaurants, https://github.com/pdxosgeo/foss4g2014-tourguide/blob/master/spatialdata/PortlandRestaurants.geojson

[2014-08-04 14:28] elil opened #34 "Expand detail of calendar (or make some other page with detail)"
"Main Conference    September 10th-12th" will be too sparse as we get closer.  Something more like:

Sept ##:
## am Registration opens
## am Plenary
## am Morning sessions

12pm Lunch
...
...
5pm Party/tour/whatever is going on

[2014-08-05 03:30] alexatodd commented on #28
I just updated the restaurants...I think I had them saved in the wrong
folder. (sorry new to GitHub)

On Mon, Aug 4, 2014 at 7:24 AM, Eli L Adam notifications@github.com wrote:

[2014-08-05 04:04] elil commented on #28
Does the Icon file have illegal (on windows) characters in the name or extension?  I'm having a little trouble with it.

[2014-08-05 04:34] elil commented on #28
Restaurants.geojson might not be in WGS 84.  If you have GDAL/OGR around, you can reproject it like: ogr2ogr -t_srs EPSG:4326 -f geojson -lco COORDINATE_PRECISION=5 Restaurants_output_name.geojson input_file

[2014-08-05 04:35] alexatodd commented on #28
I saved the shapefile as a GeoJSON again. Hopefully this time it worked.

On Mon, Aug 4, 2014 at 9:04 PM, Eli L Adam notifications@github.com wrote:

[2014-08-05 04:49] alexatodd commented on #28
The dataset is in NAD84. I don't know how to re-project using QGIS. I'll
bring my computer to MapTime tomorrow and see if someone can help me.

:-)

On Mon, Aug 4, 2014 at 9:34 PM, Eli L Adam notifications@github.com wrote:

[2014-08-05 04:56] twelch commented on #28
@alexatodd In QGIS I think you can right click the data layer, save as, select geographic coordinate system WGS 84.

[2014-08-05 04:57] elil commented on #28
To export to geojson from QGIS and reproject, you can right click the layer, choose "save as" and then fill out the screen like this:
![geojson_export](https://cloud.githubusercontent.com/assets/5263258/3807039/2df30166-1c5c-11e4-92ea-b7cbe561707a.png)

Note the "Selected CRS" and "WGS 84" (found through "browse" and then typing "4326" in "filter" - if you know EPSG:4326 is WGS 84 it helps)

QGIS

[2014-08-05 04:58] darrell commented on #28
Is the difference between nad83 and wgs84 meaningful at the scale?

On Aug 4, 2014, at 21:56, Tim Welch notifications@github.com wrote:

@alexatodd https://github.com/alexatodd In QGIS I think you can right
click the data layer, save as, select geographic coordinate system WGS 84.

—
Reply to this email directly or view it on GitHub
https://github.com/pdxosgeo/foss4g2014-wordpress/issues/28#issuec

[2014-08-05 04:58] elil commented on #28
You can also delete the original geojson file and then save with the same name.  Then git and github will track the revisions (instead of more files).

[2014-08-05 05:00] elil commented on #28
darrell: It is not datum (probably doesn't matter).  It is state plane vs. geographic.

[2014-08-05 05:02] darrell commented on #28
Oh, carry on.

On Aug 4, 2014, at 22:00, Eli L Adam notifications@github.com wrote:

darrell: It is not datum (probably doesn't matter). It is state plane vs.
geographic.

—
Reply to this email directly or view it on GitHub
https://github.com/pdxosgeo/foss4g2014-wordpress/issues/28#issuecomment-51150151
.

[2014-08-05 05:08] alexatodd commented on #28
Thanks, all! I think I got it this time. Didn't realize it was that easy!

On Mon, Aug 4, 2014 at 10:02 PM, darrell notifications@github.com wrote:

[2014-08-20 18:22] geografa commented on #28
Hey all, out of the loop but where does [this](https://github.com/pdxosgeo/foss4g2014-tourguide) stand? I've got a map started [here](https://a.tiles.mapbox.com/v4/grafa.j88kd98g/page.html?access_token=pk.eyJ1IjoiZ3JhZmEiLCJhIjoiU2U2QnIzUSJ9.4LnG05Ptvi1sUQ8t68rfgw#17/45.52802/-122.66291) we can just drop this onto the map or make a source with Mapbox Studio. Do we really need all those restaurants

[2014-08-20 18:59] twelch commented on #28
I'm out of the loop too but would like to be a part of the loop.

+1 to whittling and refining the POI's.

What would Mapbox Studio buy us at this point Rafa?  Styling surely.  Can
we create and manage a point layer with it like dd/edit/remove points?
 Thanks.

Restaurants are cool.  I had a thought to create a "Keep Portland Weird"
category fun quirky things that people would enjoy checking out i

[2014-08-20 19:06] elil commented on #28
I'm not in the loop either.  If @geografa and @twelch want to run with it that is fine by me.

@geografa I love the birds on the map!  We can consider birds (smaller birds?) at the Eliot Center (code sprint), WFC (Gala night), Ecotrust (opening party)... other?

@twelch I would also like to add other iconic points of interest (Powell's, Voodoo, etc)

[2014-08-20 19:11] tchaddad commented on #28
haha - what Eli said.

Very cute.

[2014-08-20 19:12] elil commented on #27
@svmatthews I missed this somehow, thanks.
@darrell can we add the [news](https://2014.foss4g.org/news/) section to the main page?

[2014-08-20 19:15] mattsayler commented on #28
I think the loop collapsed when it became clear the map Darrell wanted made
was for the printed program, not the website. That led to figuring out the
dimensions were too small to include anything more than essential info.

BUT, I think an upgrade to the map is still on the wishlist, and Rafa has
made a good start. +1 for Rafa and Tim going to town.

Personally, I think we should adjust the max di

[2014-08-20 19:18] darrell commented on #27
I assume you mean a link to it yes?

[2014-08-20 19:21] darrell commented on #28
It can be on the website, too. Just pointed out that we needed a print version.

The map code can be changed here: https://github.com/pdxosgeo/foss4g2014-wordpress/blob/master/themes/foss4g-theme/js/home-map.js

On Aug 20, 2014, at 12:15, Matt Sayler notifications@github.com wrote:

[2014-08-20 19:28] twelch opened #37 "Map Gallery page"
I'm planning to create a landing page for viewing the map gallery submissions and voting.  I think this should get a whole sub-section on the home page or at least a button (not buried under primary nav).  Any strong thoughts @svmatthews?

[2014-08-20 19:30] darrell commented on #37
That’s fine.

Also @svmatthews is on vacation, so he probably won’t see this any time soon.

Go forth and make changes!

d.

On Aug 20, 2014, at 12:28, Tim Welch notifications@github.com wrote:

[2014-08-20 19:30] twelch commented on #28
I like the simplicity of the home page map being focused on the few main
venues.  Perhaps we can link to an expanded points of interest map a la
what Rafa has started.

On Wed, Aug 20, 2014 at 12:15 PM, Matt Sayler notifications@github.com
wrote:

[2014-08-20 19:33] twelch commented on #37
Oh I thought he was on the recent thread, guess it was old replies.

My hurdle right now is I don't have a dev version of the Wordpress site in
place.  I need to work on that.

On Wed, Aug 20, 2014 at 12:30 PM, darrell notifications@github.com wrote:

[2014-08-20 19:34] darrell commented on #37
Let me know if you want a dump of the database.

d.

On Aug 20, 2014, at 12:33, Tim Welch notifications@github.com wrote:

[2014-08-20 19:35] geografa commented on #28
@twelch agree. That map works great. Let's link off to another map and iframe it into another page. Keep it simple.

[2014-08-20 19:35] mattsayler commented on #28
Yeah, a separate page works. It's just that I'd rather shove it in peoples'
faces cuz it's gonna be awesome. :-)

On Wed, Aug 20, 2014 at 12:30 PM, Tim Welch notifications@github.com
wrote:

[2014-08-20 19:36] geografa commented on #28
@mattsayler link to FULL MAP will be prominent :)

[2014-08-20 19:41] geografa commented on #28
@twelch you want to handle wrangling the GeoJSON and I'll tidy up the base map? We just need categories to map on - lat,long, name, category, other? The rest we can do with JavaScript and some custom icon wizardry. We can use something like the [Store Locator](https://www.mapbox.com/foundations/building-a-store-locator/).

And we can worry about print last - Mapbox Studio exports hi-res now (600pp

[2014-08-20 19:43] darrell commented on #28
We’ve already had someone working on the print map. Checkout the archives.

d.

On Aug 20, 2014, at 12:41, geografa notifications@github.com wrote:

[2014-08-20 19:48] twelch commented on #28
Would be great to crowdsource the locations.  what do folks think about
using the Mapbox add-on for Google Docs?

https://www.mapbox.com/blog/mapping-google-doc-spreadsheet/

On Wed, Aug 20, 2014 at 12:43 PM, darrell notifications@github.com wrote:

[2014-08-20 19:49] geografa commented on #28
Sorry, only issue I see is this: https://github.com/pdxosgeo/foss4g2014-wordpress/issues/33 /cc @svmatthews

[2014-08-20 19:49] mattsayler commented on #28
Go for it.

On Wed, Aug 20, 2014 at 12:48 PM, Tim Welch notifications@github.com
wrote:

[2014-08-20 19:51] twelch commented on #28
@geografa I think he meant the email archives.  A series of 3 maps created using QGIS and Inkscape is being finalized.

[2014-08-20 20:05] geografa commented on #28
Awesome.

On Wednesday, August 20, 2014, Tim Welch notifications@github.com wrote:

##

Rafa Gutierrez
support@mapbox.com

[2014-08-20 20:18] elil commented on #27
yes a link.

[2014-08-20 20:46] darrell commented on #27
resolved in 65dad64dd7b6a20b3b951cd713240543b9c6c968.

[2014-08-20 20:46] #27 closed, assigned to nobody

[2014-08-22 06:17] twelch opened #38 "Missing 'uploads' folders"
Hey @svmatthews or @darrell, I just setup a local dev version of the site and the right sidebar sponsor images aren't in the repo.  It's looking for images in wp-content/uploads/05 but I only have folders 01-03.  Need to be added me thinks.

I think I'm fine for now.

[2014-08-24 04:19] twelch opened #39 "Make gallery thumbnails load randomly"
To reduce bias towards those at the top for People's Choice voting.  Offer a fixed sort for judges (sort=fixed URL argument)

[2014-08-24 04:29] twelch opened #40 "People's choice map voting"
- Allow up to one vote per person per map.
- Voting is done from the detail view for an individual map, click a button to vote
- Once they click to vote, they should be able to click to unvote
- Votes should be stored in a simple Ninja form, tying the user to the unique map id.
- Will need some checks on page load to see if the user has already voted in order to set the state of the vote button pr

[2014-08-24 04:30] twelch opened #41 "People's choice vote tally report"
Simple page for admins only that summarizes the rank of each map based on number of votes.  This will not be public.

[2014-08-24 18:48] twelch opened #42 "IE testing!"
Thinking support IE 9+ only.  Will test with modern.ie VM.  Windows tablet I don't have access to.

[2014-08-24 18:49] twelch opened #43 "iPad testing"
Someone with an iPad, test the gallery out.  When it's ready of course

[2014-08-29 22:35] twelch opened #44 "Detroit map or maybe just the last map not loading description"

[2014-08-30 01:06] twelch opened #45 "Use icons for map categories"
Instead of text as it is now

[2014-08-30 02:03] twelch opened #46 "Gallery tweet link"

[2014-08-30 18:06] twelch opened #48 "Gallery endless scrolling"

[2014-08-30 18:32] #39 closed, assigned to twelch

[2014-08-30 18:33] twelch commented on #37
Just need to add to the homepage when we go live next week

[2014-08-30 18:44] twelch opened #49 "Category false for landslide map"

[2014-09-03 00:18] twelch opened #50 "Add other link"

[2014-09-03 06:11] twelch opened #51 "Remove soil pollution map"
If author doesn't respond with the open software or data used

[2014-09-03 07:15] twelch opened #52 "Oil gas africa map"
Remove if don't hear back from Jess on open data and software used

[2014-09-03 08:31] #44 closed, assigned to twelch

[2014-09-03 08:31] #45 closed, assigned to twelch

[2014-09-03 08:31] #49 closed, assigned to twelch

[2014-09-03 08:31] #50 closed, assigned to twelch

[2014-09-03 08:32] twelch commented on #32
Done.

[2014-09-03 08:32] #32 closed, assigned to nobody

[2014-09-03 18:27] twelch opened #53 "Add Darrell and Metro's screenshots"

[2014-09-04 06:51] #51 closed, assigned to nobody

[2014-09-04 06:51] #52 closed, assigned to twelch

[2014-09-04 06:51] #53 closed, assigned to twelch

[2014-09-04 06:51] twelch opened #54 "Load map from URL"

[2014-09-04 17:39] geografa commented on #28
@twelch time tonight to hack on this? Getting close to final basemap with main POIs https://a.tiles.mapbox.com/v4/grafa.jdib780o/page.html?access_token=pk.eyJ1IjoiZ3JhZmEiLCJhIjoiU2U2QnIzUSJ9.4LnG05Ptvi1sUQ8t68rfgw#14/45.5183/-122.6634 We can do the Foursquare POI thing or make our own.

[2014-09-05 01:47] twelch opened #57 "Can't see nav buttons from landscape on tablet or phone"

[2014-09-05 01:50] twelch opened #58 "Drag event not allowing scroll or text select"
In the popover you can't select text in a desktop browser or scroll down with a touch device.

[2014-09-05 01:55] #37 closed, assigned to twelch

[2014-09-05 01:55] twelch opened #59 "Add gallery to home page and fix perms"
Add the gallery link to the home page prominently.  Also change the settings to add the gallery to the sitemap and robots.

[2014-09-05 01:56] twelch opened #60 "IP checking"
Use IP checking to not allow voting from a different browser

[2014-09-05 02:44] geografa opened #61 "Add 'More...' link to detailed POIs map"
Based on [Jason Sanford's](https://github.com/JasonSanford/foss4g-map) work, can we add this map: http://pdxosgeo.github.io/foss4g-map/ as a more detailed view of the existing POI map?

[2014-09-05 03:20] darrell commented on #61
as a link or as something else?

[2014-09-05 03:24] twelch commented on #61
Yeah the idea was a link or button alongside or within the front page map to 'view more' or something like that.  Maybe top right header above the map.

[2014-09-05 07:01] #43 closed, assigned to nobody

[2014-09-05 07:01] #54 closed, assigned to twelch

[2014-09-05 07:40] #60 closed, assigned to twelch

[2014-09-05 07:43] twelch opened #62 "Change cookie name"
Just before voting goes live so people don't have to mess with clearing their cookies

[2014-09-05 08:37] twelch opened #63 "unvote"
Add (show) a cancel link to the left of the vote button letting person unvote effectively.

Should:
- clear vote from cookie if there is one
- clear vote from server in last 30 minutes, if there is one

[2014-09-06 00:15] twelch commented on #61
I'll add the link.  Sprinkling it into a few other places as well such as https://2014.foss4g.org/attending/getting-to-portland/

[2014-09-06 01:12] twelch commented on #61
Done.  Updated the conference POI's as well

[2014-09-06 01:12] #61 closed, assigned to mapsam

[2014-09-06 01:12] #62 closed, assigned to twelch

[2014-09-06 02:24] #59 closed, assigned to twelch

[2014-09-06 02:24] #46 closed, assigned to twelch

[2014-09-06 02:24] #42 closed, assigned to twelch

[2014-09-06 02:24] twelch commented on #40
Totally done, except the unvote

[2014-09-06 02:24] #40 closed, assigned to twelch

[2014-09-06 02:27] twelch commented on #28
Energy has shifted to this new map (https://github.com/pdxosgeo/foss4g-map).  It's plugged in as a 'View More' link on the main POI map on the FOSS4G home page.  It's a combination of Jason Sanford's map setup with @geografa's base map.

People should add more interesting POI's.

[2014-09-06 02:27] #28 closed, assigned to nobody

[2014-09-06 03:31] geografa commented on #61
:+1:

[2014-09-07 03:24] elil opened #64 "Main website map"
On the main website, the map has 6 (important) points.  To see the other map with more points, you need to click "view more".  Not sure if this is by design or not, if so, it might be good to suggest clicking the "view more" button gives additional information, not just a bigger screen.  Maybe the button should be "See more points of interest"

[2014-09-07 04:12] twelch commented on #64
Yes it's by design.  It's meant to focus on the main conference locations.  Note, the Getting around Portland has a more detailed section now leading to this map (https://2014.foss4g.org/attending/getting-to-portland/).  I think if there's more explanatory text it should go here.

[2015-03-20 15:51] robwent opened #65 "recaptcha conflict with other extensions."
ignore this, wrong repo!

[2015-03-20 15:52] #65 closed, assigned to nobody